.main{
  background: #d1d1d1;
  width: 20%;
  height: 20vh;
  margin: 12% 38%;
  display: flex;
  justify-content: center;
  align-items: center;
}



#btn > button{
  width: 100%;
  display: flex;
  margin-top: 5px;
  gap: 20%;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  
} 

.circle{
  border-radius: 50px 50px;
  width:22%;
  height: 9vh;
  margin:21px;
  border: 2px solid black;
}